@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --red: #f38ba8;
    --blue: #89b4fa;
    --black: #1e1e2e;
    --white: #cdd6f4;
    --purple: #cba6f7;
    --gray: #7f849c;
    --cyan: #89dceb;
    --green: #a6e3a1;
}

* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--black);
    overflow: auto;
}

code { font-family: monospace; font-size: 20px; }

.sidebar {
    z-index: 1;
    background-color: var(--blue);
    width: 40px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: auto;
    transition: width 1s ease;
}

@keyframes openMenu {
    0% {

    }
    100% {

    }
}

.menuIcon {
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 15px;
}

.menuIcon div {
    width: 20px;
    height: 3px;
    background-color: var(--black);
    margin: 4px 0 0 0;
}

.sidebar a {
    color: var(--black);
    text-decoration: none;
    margin-left: 5px;
    position: fixed;
    display: none;
}

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    color: var(--white);
}

.content {
    position: absolute;
    top: 110px;
    left: 50px;
    color: var(--white);
    right: 0px;
    z-index: 0;
}

.content .news {
    position: relative;
    background: var(--white);
    border-radius: 5px;
    color: var(--black);
    right: 10px;
    left: 0px;
}

.content .news p, .content .news h2 {
    margin-top: 5px;
    margin-left: 5px;
}

.content .news a {
    color: var(--black);
}